extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	+ListItem("1")
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, eum aspernatur tempora omnis hic corrupti exercitationem, dignissimos voluptatem ipsa saepe, nemo dolorum! Adipisci expedita nostrum id mollitia optio soluta pariatur?
	+ListItem
	+ListItem
	+ListItem